body {
  padding: 0;
  margin: 0;
  background: #eff3f8;
  text-align: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.movies {
  padding: 0;
  margin: 0;
}
