.movie {
  display: inline-block;
  text-align: left;
  width: calc(100% - 2rem);
  max-width: 30rem;
  background: #ffffff;
  margin: 2rem 1rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie .movie__poster {
  width: 30%;
  margin-right: 5%;
  position: relative;
  top: -2rem;
  display: inline-block;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie .movie__data {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.movie__title {
  max-width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__genres {
  max-width: 100%;
}

.genres__genre {
  display: inline-block;
  margin-right: 0.25rem;
  color: #adb5bd;
}

.movie__summary {
  /* 한 줄 자르기 */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
